body {
	
	text-align: center;
	
	input {

		margin-top: 30px;
	
	}

	h2 { 

		margin-top: 80px;

	}

	.table {

		margin-top: 30px;
		margin: 0 auto;		
		text-align: left;
		width: 100%;
		max-width: 1200px;
		text-align: center;
		
		th {

			width: 240px;
			text-align: left;
			background-color: silver;
			text-align: center;
		
		}
	
	}

}